<html>
<!--<link rel="stylesheet"  href="../../res/css/admin.css">-->
<div class="panel_upper">
    <p>Manage Details</p>
</div>
<div class="panel" id="panel">
    <div class="icons">
        <button type="button" onclick="myFunction('/ACTA_project/view/admin_staff/stu_check.php')"><img src="/ACTA_project/res/image/stu.png"></button>
        <button type="button" onclick="myFunction('/ACTA_project/view/admin_staff/lecture_reg.php')"> <img src="/ACTA_project/res/image/le.png"></button>
        <button type="button" onclick="myFunction('/ACTA_project/view/admin_staff/course_add.php')"> <img src="/ACTA_project/res/image/co.png"></button>
        <button type="button" onclick="myFunction('/ACTA_project/view/admin_staff/marks_add.php')"> <img src="/ACTA_project/res/image/ma.png"></button>
        <button type="button"> <img src="/ACTA_project/res/image/at.png"></button>
        <button type="button"> <img src="/ACTA_project/res/image/ev.png"></button>
        <button type="button"> <img src="/ACTA_project/res/image/no.png"></button>

    </div>

</div>


</html>