<html>
<!--<link rel="stylesheet"  href="../../res/css/admin.css">-->
<div class="panel_upper">
    <p>Manage Details</p>
</div>
<div class="panel" id="panel">
    <div class="panel_body">
        <div class="panel_bar" >
        </div>
        <div class="panel_body_cont">
            <div class="icons">
                <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/stu_check.php')"><img src="/ACTA_project/res/image/stu.png"></button>
                <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/lec_check.php')"> <img src="/ACTA_project/res/image/le.png"></button>

                <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/marks_add.php')"> <img src="/ACTA_project/res/image/ma.png"></button>
                <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/event.php')"><img src="/ACTA_project/res/image/ev.png"></button>

                <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/attendance_add.php')"> <img src="/ACTA_project/res/image/at.png"></button>
                <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/notifications.php')"> <img src="/ACTA_project/res/image/no.png"></button>

            </div>
        </div>
    </div>

</div>


</html>
