<!DOCTYPE html>
<html>
<!--<link rel="stylesheet"  href="../../res/css/admin.css">-->
<div class="panel_upper">
    <p>Report</p>
</div>
<div class="panel" id="panel">
    <div class="icons">
        <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/progress_report.php')"><img src="/ACTA_project/res/image/pro_re.png" height="150px" width="150px"></button>
        <!--<button type="button" onclick="myFunction('')"> <img src="/ACTA_project/res/image/individual.png"></button>-->
        <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/batchmarks_report.php')"> <img src="/ACTA_project/res/image/bat_re.png" height="150px" width="150px"></button>
        <button type="button" onclick="myFunction1('/ACTA_project/view/admin_staff/attendance_report.php')"> <img src="/ACTA_project/res/image/att_re.png" height="150px" width="150px"></button>

    </div>

</div>


</html>