<html>

<div class="panel_upper">
    <p> Report</p>
</div>
<div class="panel">
    <div class="bodym" >
        <div id="bodym1"  >

        <div>
            <h3 style="color: #fff;font-size: 20px; width: 100%; text-align: left; ">Academic overall</h3>
        </div>
        <table class="tablereport" style="margin-left: 100px;">
            <tr>
                <td>
                    <label>Course ID</label>

                </td>

                <td><input type="text" size="21.5" /></td>

                <td>
                    <input type="radio" style="margin-left: 60px;">Full Time
                <td>
                <td>
                    <input type="radio" style="margin-left: 60px;">Part Time
                <td>
            </tr>
            <tr>
                <td>
                    <label>Level</label>
                </td>
                <td>
                    <select style="width:150px">
                        <option>select</option>

                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Year</label>

                </td>


                <td>
                    <select style="width:150px">
                        <option>select</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Batch</label>
                </td>
                <td>
                    <select style="width:150px">
                        <option>select</option>

                    </select>
                </td>
            </tr>
        </table>
        <tr><td>
            <input type="button" value="Generate Report" style="margin-top:5px; margin-left: 350px;">
        </td></tr>
        <div>
            <h3 style="color: #fff;font-size: 20px; width: 100%; text-align: left; ">Attendance</h3>
            <table class="tablereport" style="margin-left: 128px;">
                <tr>
                    <td>
                        <label>From</label>

                    </td>


                    <td>
                        <select style="width:150px">
                            <option>select</option>

                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label>To</label>
                    </td>
                    <td>
                        <select style="width:150px">
                            <option>select</option>

                        </select>
                    </td>
                </tr>
            </table>
            <input type="button" value="Generate Report" style="margin-top:5px; margin-left: 350px;">
        </div>
    </div>
    </div>
</div>
</html>